/* Write your CSS code here */
.bg-container {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.blog-details-container {
  padding: 14px;
}
@media (max-width: 576px) {
  .bg-container {
    width: 50%;
    padding: 0px;
  }
}
.avatar-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.title-txt {
  font-family: 'Roboto';
  font-size: 35px;
}
@media (max-width: 576px) {
  .title-txt {
    font-size: 12px;
  }
}
.avatar-and-avatarTxt-container {
  display: flex;
}
.content-image {
  height: 450px;
  border-radius: 9px;
  margin-top: 13px;
  width: 100%;
}
@media (max-width: 576px) {
  .content-image {
    height: 200px;
    width: 100%;
  }
}
.content {
  font-family: 'Roboto';
  line-height: 26px;
  color: #2f4f4f;
}
